<div class="register-container">
  <div class="register-card">
    
    <div class="register-left">
      <h2>Tu nuevo comienzo empieza aquí</h2>
    </div>

    <div class="register-right">
      <h2>Crear Cuenta</h2>
      <p>Completa tus datos para registrarte en el sistema del Fundo</p>

      <div class="form-grid">
        
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" placeholder="Ej. Juan" [(ngModel)]="firstName">
        </div>

        <div class="form-group">
          <label>Apellido</label>
          <input type="text" placeholder="Ej. Pérez" [(ngModel)]="lastName">
        </div>

        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input type="text" placeholder="Ej. jperez12" [(ngModel)]="username">
        </div>

        <div class="form-group">
          <label>Teléfono Celular</label>
          <input type="text" placeholder="Ej. 987654321" [(ngModel)]="phone">
        </div>

        <div class="form-group">
          <label>Cargo Organizacional</label>
          <select [(ngModel)]="role">
            <option value="Trabajador">Trabajador de Campo</option>
            <option value="Encargado">Encargado de Fundo</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" placeholder="********" [(ngModel)]="password">
        </div>

        <div class="form-group" style="grid-column: span 2;">
          <label>Confirmar Contraseña</label>
          <input type="password" placeholder="********" [(ngModel)]="confirmPassword">
        </div>

      </div>

      <button (click)="handleRegister()">Registrarse</button>

      <div class="switch-auth">
        <span>¿Ya tienes una cuenta?</span>
        <a (click)="goToLogin()">Inicia sesión aquí</a>
      </div>
    </div>

  </div>
</div>