<div class="sidebar">

  <div class="logo">
    🌱
  </div>

  <div class="menu">

    <a routerLink="/dashboard">
      📊
    </a>

    <a routerLink="/customers">
      👥
    </a>

    <a routerLink="/sales">
      💰
    </a>

    <a routerLink="/production">
      🌾
    </a>

  </div>

  <div class="profile-container">

    <div
      class="profile"
      (click)="toggleMenu()">

      <img
        [src]="'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png?' + Date.now()"
        alt="Perfil">

    </div>

    <div
      class="profile-menu"
      *ngIf="showMenu">

      <div class="user-info">

        <h4>{{ nombreUsuario }}</h4>
        <p>{{ cargoUsuario }}</p>

      </div>

      <button>
        Ver Cuenta
      </button>

      <button class="logout" (click)="logout()">
        Cerrar Sesión
      </button>

    </div>

  </div>

</div>